/* DEFAULT */

* {
    --main-color: #f5e1ce;
    --second-color: #b08e6b;
    --object-color: #e8c39e;
    --text-color: #ffffff;
    --dark-blue-color: #7a5c3c;
    --black-color: #191919;
    --white-color: white;
    font-family: 'WorkSansR';
    margin: 0;
    padding: 0;
}

*::selection {
    background-color: var(--main-color);
    color: var(--second-color);
}

body {
    background-color: var(--second-color);
    color: var(--main-color);
    display: flex;
    justify-content: center;
    /* background-color: var(--second-color); */
    background-image: url(../Multimedia/bg_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

a {
    text-decoration: none;
}

.profile {
    filter: drop-shadow(2px 1px 3px var(--dark-blue-color));
}

header,
.container,
footer {
    background-color: var(--main-color);
    color: var(--second-color);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(245, 225, 206, 1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(245, 225, 206, 1);
    box-shadow: 0px 0px 10px 0px rgba(245, 225, 206, 1);
}

header {
    border-radius: 0 0 10px 10px;
}

footer {
    border-radius: 10px 10px 0 0;
}

/* >------------------[Laptop]------------------< */
@media screen and (min-width: 1024px) {

    /* Diseño general de las paginas web */
    .body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* Header */
    header,
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        max-width: 1920px;
        min-width: 1024px;
        max-height: 100px;
        min-height: 75px;
    }

    header {
        border-radius: 0 0 10px 10px;
    }

    footer {
        border-radius: 10px 10px 0 0;
    }


    .logo {
        width: 5em;
        height: 5em;
    }

    .filtros {
        float: left;
        border: none;
        background-color: transparent;
    }

    /* Filter menu desplegable */
    .dropdown {
        display: inline-block;
        position: relative;

    }

    .dropdown-content {
        display: none;
        position: absolute;
        width: 250px;
        font-size: .7em;
        overflow: auto;
        box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
        right: 10px;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown-content a,
    .dropdown-content p,
    .dropdown-content h3 {
        display: block;
        color: var(--text-color);
        background-color: var(--dark-blue-color);
        padding: 5px;
        text-decoration: none;
    }

    .dropdown-content a:hover {
        text-shadow: 1px 1px 2px var(--main-color);
    }

    .rightSide {
        width: 100%;
        max-width: 325px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .search {
        display: flex;
        flex-direction: row;
    }

    #searchInput {
        margin: 0 1em;
        background-color: transparent;
        border: 0;
        border-radius: 20px;
        padding: 0 .3em;
        visibility: hidden;
    }

    #searchInput:focus {
        outline: none !important;
        border: 1px solid var(--dark-blue-color);
    }

    .lupa {
        width: 1em;
        height: 1em;
        margin: 0 .5em;
    }

    .lupa:hover {
        filter: drop-shadow(3px 1px 4px var(--object-color));
    }

    .profile {
        width: 4em;
        height: 4em;
        border-radius: 40%;
    }


    /* Container */
    .container {
        background-color: var(--main-color);
        color: var(--second-color);
        width: 75%;
        height: 100%;
        max-width: 1920px;
        min-width: 700px;
        max-height: 2500px;
        min-height: 1500px;
    }


    /* Footer */
    footer {
        display: flex;
        flex-direction: row;
        text-align: justify;
        padding: .5em 0;
    }

    .texto {
        width: 10%;
        max-width: 1920px;
        min-width: 1024px;
    }

    .nuestrosNombres {
        margin-left: 1em;
    }

    .mail {
        margin-right: 1em;
    }



    /* Pagina Principal */

    .containerIndex {
        display: grid;
        grid-template-columns: repeat(4, minmax(1px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(50vh, 60vh));
        align-items: center;
        row-gap: 0;
    }

    .libro {
        display: flex;
        flex-direction: column;
        width: 25vh;
        height: 35vh;
        color: var(--black-color);
        justify-self: center;
    }

    .libro:hover {
        width: 35vh;
        height: 55vh;
        transition: 1s;
    }

    .libro:not(:hover) {
        width: 25vh;
        height: 35vh;
        transition: .5s;
    }

    .imgLibro {
        display: inherit;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80%;
        background-color: green;
    }

    .imgLibro:hover {
        -webkit-filter: blur(5px);
        filter: blur(5px);
        transition: 1s;
    }

    #tituloHover{
        position: absolute;
        justify-self: center;
    }

    #sinopsisHover{
        position: absolute;
    }

    .tituloLibro {
        display: inherit;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 20%;
    }

}

/* >------------------[Tablet]------------------< */
@media screen and (min-width: 768px) and (max-width: 1023px) {


    .body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        max-width: 1023px;
        min-width: 768px;
    }

    /* Header */
    header,
    footer {
        background-color: var(--main-color);
        color: var(--second-color);
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 100%;
        max-width: 1023px;
        min-width: 768px;
        max-height: 100px;
        min-height: 75px;
    }

    .logo {
        width: 5em;
        height: 5em;
    }
    
    .filtros {
        float: left;
        border: none;
        background-color: transparent;
    }

    /* Filter menu desplegable */
    .dropdown {
        display: inline-block;
        position: relative;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        width: 250px;
        font-size: .7em;
        overflow: auto;
        box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
        right: 10px;
    }
    
    .dropdown:hover .dropdown-content,
    .dropdown:active .dropdown-content,
    .dropdown:focus .dropdown-content {
        display: block;
    }
    
    .dropdown-content a,
    .dropdown-content p,
    .dropdown-content h3 {
        display: block;
        color: var(--text-color);
        background-color: var(--dark-blue-color);
        padding: 5px;
        text-decoration: none;
    }
    
    .dropdown-content a:hover {
        text-shadow: 1px 1px 2px var(--main-color);
    }
    
    .rightSide {
        width: 100%;
        max-width: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 65%;
    }
    
    .search {
        display: flex;
        flex-direction: row;
    }
    
    .lupa {
        width: 1em;
        height: 1em;
        margin: 0 .5em;
    }
    
    .lupa:hover {
        filter: drop-shadow(3px 1px 4px var(--object-color));
    }
    
    #searchInput {
        margin: 0 1em;
        background-color: transparent;
        border: 0;
        border-radius: 20px;
        padding: 0 .3em;
        visibility: hidden;
    }

    #searchInput:focus {
        outline: none !important;
        border: 1px solid var(--dark-blue-color);
    }
    
    .profile {
        width: 4em;
        height: 4em;
        border-radius: 40%;
    }
    
    /* Container */
    .container {
        background-color: var(--main-color);
        color: var(--second-color);
        width: 75%;
        height: 100%;
        max-width: 1023px;
        min-width: 650px;
        max-height: 2500px;
        min-height: 1500px;
    }
    
    
    /* Footer */
    footer {
        display: flex;
        flex-direction: row;
        text-align: justify;
        padding: .5em 0 1em 0;
    }
    
    .texto {
        width: 10%;
        max-width: 1023px;
        min-width: 350px;
    }
    
    .nuestrosNombres {
        margin-right: 5em;
    }
    
    .mail {
        margin-left: 5em;
    }
    /* PAGINA PRINCIPAL */

    .containerIndex {
        display: grid;
        grid-template-columns: repeat(3, minmax(1px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(50vh, 60vh));
        align-items: center;
        row-gap: 0;
    }

    .libro {
        display: flex;
        flex-direction: column;
        width: 25vh;
        height: 35vh;
        color: white;
        justify-self: center;
    }

    .libro:hover {
        width: 30vh;
        height: 50vh;
        border-radius: 1em;
        transition: 1s;
    }

    .libro:not(:hover) {
        width: 25vh;
        height: 35vh;
        transition: .5s;
    }

    .imgLibro {
        display: inherit;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80%;
        background-color: green;
    }

    .imgLibro:hover {
        -webkit-filter: blur(5px);
        filter: blur(5px);
        transition: 1s;
    }

    .tituloLibro {
        display: inherit;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 20%;
        background-color: grey;
    }

}

/* >------------------[Mobile]------------------< */
@media screen and (max-width: 767px) {

    .body {
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        max-width: 767px;
        min-width: 250px;
    }

    /* Header */
    header,
    footer {
        background-color: var(--main-color);
        color: var(--second-color);
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 100%;
        max-width: 767px;
        min-width: 250px;
        max-height: 100px;
        min-height: 75px;
        border-radius: 0;
    }
    
    header {
        justify-content: flex-start;
    }

    .logo {
        width: 3em;
        height: 3em;
    }

    .filtros {
        float: left;
        border: none;
        background-color: transparent;
    }
    
    /* Filter menu desplegable */
    .dropdown {
        display: inline-block;
        position: relative;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        width: 150px;
        font-size: .7em;
        overflow: auto;
        box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
        right: 10px;
    }
    
    .dropdown:hover .dropdown-content,
    .dropdown:active .dropdown-content,
    .dropdown:focus .dropdown-content {
        display: block;
    }

    .dropdown-content a,
    .dropdown-content p,
    .dropdown-content h3 {
        display: block;
        color: var(--text-color);
        background-color: var(--dark-blue-color);
        padding: 5px;
        text-decoration: none;
    }
    
    .dropdown-content a:hover {
        text-shadow: 1px 1px 2px var(--main-color);
    }
    
    .rightSide {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        max-width: 50px;
        margin-left: 30%;
    }
    
    .search {
        display: flex;
        flex-direction: row;
    }
    
    .lupa {
        width: 1.5em;
        height: 1.5em;
        margin: 0 .5em;
    }
    
    .lupa:hover {
        filter: drop-shadow(3px 1px 4px var(--second-color));
    }
    
    #searchInput {
        background-color: transparent;
        border: 0;
        border-radius: 20px;
        margin: 0 1em;
        width: 10vh;
        padding: 0 .3em;
        visibility: hidden;
    }
    
    #searchInput:focus {
        outline: none !important;
        border: 1px solid var(--dark-blue-color);
    }
    
    .profile {
        width: 3em;
        height: 3em;
        border-radius: 40%;
    }
    
    /* Container */
    .container {
        background-color: var(--main-color);
        color: var(--second-color);
        width: 100%;
        height: 100%;
        max-width: 767px;
        min-width: 250px;
        max-height: 2500px;
        min-height: 1500px;
    }
    
    
    /* Footer */
    footer {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: space-around;
        text-align: justify;
        min-height: 200px;
        gap: 1em;
    }
    
    .texto {
        width: 10%;
        max-width: 767px;
        min-width: 250px;
    }
    
    .nuestrosNombres {
        display: flex;
        flex-direction: column;
        padding-right: 2em;
        gap: .5em;
    }
    
    .mail {
        float: left;
    }

    /* PAGINA PRINCIPAL */
    .containerIndex {
        display: grid;
        grid-template-columns: repeat(2, minmax(1px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(30vh, 40vh));
        align-items: center;
        row-gap: 0;
    }

    .libro {
        display: flex;
        flex-direction: column;
        width: 17vh;
        height: 25vh;
        color: white;
        justify-self: center;
    }

    .libro:hover {
        width: 25vh;
        height: 35vh;
        transition: 1s;
    }

    .libro:not(:hover) {
        width: 17vh;
        height: 25vh;
        transition: .5s;
    }

    .imgLibro {
        display: inherit;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80%;
        background-color: green;
    }

    .imgLibro:hover {
        -webkit-filter: blur(5px);
        filter: blur(5px);
        transition: 1s;
    }

    .tituloLibro {
        display: inherit;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 20%;
        background-color: grey;
    }



}