/* DEFAULT */

@font-face {
    font-family: "Oxygen";
    src: url("../Multimedia/Fuentes/Oxygen/Oxygen-Regular.ttf")
}

* {
    --main-color: #f5e1ce;
    --second-color: #b08e6b;
    --object-color: #e8c39e;
    --text-color: #ffffff;
    --dark-color: #7a5c3c;
    --black-color: #191919;
    --white-color: white;
    font-family: 'Oxygen';
    margin: 0;
    padding: 0;
}

*::selection {
    background-color: var(--main-color);
    color: var(--second-color);
}

body {
    background-color: var(--second-color);
    color: var(--main-color);
    display: flex;
    justify-content: center;
    /* background-color: var(--second-color); */
    background-image: url(../Multimedia/bg_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

a {
    text-decoration: none;
    color: var(--second-color);
}

.profile {
    filter: drop-shadow(2px 1px 3px var(--dark-color));
}

.logo{
    cursor: pointer;
}

header,
.container,
footer {
    background-color: var(--main-color);
    color: var(--second-color);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(245, 225, 206, 1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(245, 225, 206, 1);
    box-shadow: 0px 0px 10px 0px rgba(245, 225, 206, 1);
}

header {
    border-radius: 0 0 10px 10px;
    position: sticky;
    top: 0;
}

footer {
    border-radius: 10px 10px 0 0;
}

.imgLibroPagina{
    grid-area: libro;
}

.tituloLibroPagina{
    grid-area: titulo;
}

.sinopsisLibroPagina{
    grid-area: sinopsis;
}

.notaLibroPagina{
    grid-area: notaLibro;
}

.notaPagina{
    grid-area: notaNumero;
}

.comentarios{
    grid-area: comentarios; 
}  
#rightSideFicha {
    display: flex;
    justify-content: space-around;
}

.comentario p:nth-child(2) {
    text-align: justify;
    padding: 0 .5em;
}

/* Pagina Mi Perfil */
.nick {
    grid-area: nn;
}

.datosPersonales {
    grid-area: dp;
}

.contrasenya {
    grid-area: contra;
}

.formPerfil {
    grid-area: formP;
}

.formPerfil>button {
    grid-area: buttonP;
}



/* Pagina AÃ±adir Libro */
.containerAddLibro,
.containerAddLibro>form {
    display: flex;
    flex-direction: column;
}

.containerAddLibro {
    align-items: center;

}

.containerAddLibro>form {
    align-items: center;
    width: 20%;
    gap: .5em;
}

.etiquetas {
    display: grid;
    font-size: 1em;
    gap: .5em;
}

.etiquetas>label {
    display: flex;
}

form>div {
    padding: 1em;
    border-radius: 1em;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);

}

form>div>p,
form>div>label {
    display: flex;
    justify-content: center;

}

/* >------------------[Laptop]------------------< */
@media screen and (min-width: 1024px) {

    /* DiseÃƒÂ±o general de las paginas web */
    .body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* Header */
    header,
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        max-width: 1920px;
        min-width: 1024px;
        max-height: 100px;
        min-height: 75px;
    }

    header {
        border-radius: 0 0 10px 10px;
    }

    footer {
        border-radius: 10px 10px 0 0;
    }

    #sinLupa{
        gap: 70%;
    }


    .logo {
        width: 5em;
        height: 5em;
    }

    .filtros {
        float: left;
        border: none;
        background-color: transparent;
    }

    /* Filter menu desplegable */
    .dropdown {
        display: inline-block;
        position: relative;

    }

    .dropdown-content {
        display: none;
        position: absolute;
        width: 250px;
        font-size: .7em;
        overflow: auto;
        box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
        right: 10px;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown-content a,
    .dropdown-content p,
    .dropdown-content h3 {
        display: block;
        color: var(--text-color);
        background-color: var(--dark-color);
        padding: 5px;
        text-decoration: none;
    }

    .dropdown-content a:hover {
        text-shadow: 1px 1px 2px var(--main-color);
    }

    .rightSide {
        width: 100%;
        max-width: 325px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .search {
        display: flex;
        flex-direction: row;
    }

    #searchInput {
        margin: 0 1em;
        background-color: transparent;
        border: 0;
        border-radius: 20px;
        padding: 0 .3em;
        visibility: hidden;
    }

    #searchInput:focus {
        outline: none !important;
        border: 1px solid var(--dark-color);
    }

    .lupa {
        width: 1em;
        height: 1em;
        margin: 0 .5em;
    }

    .lupa:hover {
        filter: drop-shadow(3px 1px 4px var(--object-color));
    }

    .profile {
        width: 4em;
        height: 4em;
        border-radius: 40%;
    }


    /* Container */
    .container {
        background-color: var(--main-color);
        color: var(--second-color);
        width: 75%;
        height: 100%;
        max-width: 1920px;
        min-width: 700px;
        max-height: 2500px;
        min-height: 1500px;
    }


    /* Footer */
    footer {
        display: flex;
        flex-direction: row;
        text-align: justify;
        padding: .5em 0;
    }

    .texto {
        width: 10%;
        max-width: 1920px;
        min-width: 1024px;
    }

    .nuestrosNombres {
        margin-left: 1em;
    }

    .mail {
        margin-right: 1em;
    }



    /* Pagina Principal */

    .containerIndex {
        display: grid;
        grid-template-columns: repeat(4, minmax(1px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(50vh, 60vh));
        align-items: center;
        row-gap: 0;
    }

    .libro {
        display: flex;
        flex-direction: column;
        /* width: 25vh; */
        /* height: 35vh; */
        color: var(--black-color);
        justify-self: center;
        justify-content: space-between;
        align-content: flex-start;
    }

    .libro:hover {
        width: 25vh;
        height: 45vh;
        transition: 1s;
    }

    .libro:not(:hover) {
        width: 25vh;
        height: 37vh;
        transition: .5s;
    }

    .imgLibro {
        display: inherit;
        justify-content: center;
        align-items: center;
        width: 180px;
        height: 250px;
        background-color: green;
    }

    .imgLibro:hover {
        -webkit-filter: blur(3px);
        filter: blur(3px);
        transition: 1s;
    }

    #tituloHover {
        position: absolute;
        justify-self: center;
    }

    #sinopsisHover {
        position: absolute;
    }

    .tituloLibro {
        display: inherit;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50%;
    }

    /* Pagina Libro */
    #bodyLibro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .containerLibro{
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(10, 1fr);
        grid-gap: 1em;
        grid-template-areas: 
                            ". libro libro titulo titulo notaLibro ."
                            ". libro libro sinopsis sinopsis sinopsis ."
                            ". libro libro sinopsis sinopsis sinopsis ."
                            ". comentarios comentarios comentarios comentarios comentarios ."
                            ". comentarios comentarios comentarios comentarios comentarios ."
                            ". comentarios comentarios comentarios comentarios comentarios ."
                            ". comentarios comentarios comentarios comentarios comentarios ."
                            ". comentarios comentarios comentarios comentarios comentarios ."
                            ". comentarios comentarios comentarios comentarios comentarios ."
                            ". . . . . . ."
                            ;
    }

    .imgLibroPagina{
        width: 80%;
    }

    .tituloLibroPagina{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sinopsisLibroPagina{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
    }

    .notaLibroPagina{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
    }

    .notaPagina{
        font-weight: bold;
        font-size: 2em;
    }

    .comentarios{
        background-color: lightgrey;
    }
     /* Pagina Mi Ficha */
     .headerFicha {
        display: flex;
        justify-content: space-between;
    }

    .containerMiPerfil {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 10% repeat(7, 1fr);

        grid-template-areas:
            ". . tituloLibrosLeidos tituloLibrosLeidos ."
            ". librosLeidos librosLeidos librosLeidos ."
            ". librosLeidos librosLeidos librosLeidos ."
            ". . tituloReseÃ±as tituloReseÃ±as ."
            ". containerReseÃ±as containerReseÃ±as containerReseÃ±as ."
            ". containerReseÃ±as containerReseÃ±as containerReseÃ±as .";
    }

    .containerLibrosLeidos {
        display: flex;
        scroll-snap-type: x mandatory;
        scroll-padding: 25px;
        column-gap: 20px;
        overflow-x: scroll;
        border-radius: .5em;
        scrollbar-color: var(--object-color) var(--main-color);
        scrollbar-width: 10px;
        grid-area: librosLeidos;
    }

    #tituloLibrosLeidos {
        grid-area: tituloLibrosLeidos;
        align-self: center;
    }

    .libros {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 0 0 25%;
        padding: 30px;
        scroll-snap-align: start;
        background-color: var(--second-color);
        border-radius: 1em;
        color: var(--main-color);
    }

    .libros>img {
        width: 100%;
    }

    .libros>p {
        font-weight: bold;
        font-size: 1.5em;
    }


    .tituloReseÃ±as {
        align-self: end;
        grid-area: tituloReseÃ±as;
    }

    .containerReseÃ±as {
        background-color: var(--second-color);

        grid-area: containerReseÃ±as;

        max-height: 350px;

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        padding: 1em;
        gap: .7em;

        border-radius: 1em;

        scroll-snap-type: y mandatory;
        scroll-padding: 25px;
        column-gap: 20px;
        overflow-y: scroll;
        scrollbar-color: var(--object-color) var(--second-color);
        scrollbar-width: 10px;
    }

    .comentario {
        width: 80%;
        padding: .5em;
        border-radius: .5em;
        background-color: var(--object-color);
    }

    .comentario p:first-child {
        border: 1px solid var(--main-color);
        border-radius: 5px;
        padding: 3px;
        width: max-content;
    }

    .comentario p>span {
        padding-left: 5px;
        font-weight: bold;
        font-size: 1.2em;
    }



    /* Pagina Mi Perfil */
    .containerPerfil {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 10% repeat(4, 1fr);

        grid-template-areas:
            ". . nn nn nn nn . ."
            " . formP formP formP formP formP formP . "
            " . formP formP formP formP formP formP . "
            " . formP formP formP formP formP formP . ";

        overflow: hidden;
    }


    .formPerfil {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 0fr);
        grid-template-areas:
            ". . nn nn nn nn . ."
            " . dp dp dp contra contra contra . "
            ". . . buttonP buttonP . . ."
            ". . . . . . . .";
        gap: 1em;
        overflow: hidden;
    }


    .nick {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        gap: 1em;
    }

    .nick>img {
        width: 15%;
    }

    .inputPerfil {
        color: var(--dark-color);
        background-color: var(--main-color);
        border: none;
        border-radius: 5px;
        width: 40%;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
        padding: 0 5px;
        margin: .5em;
        transition: .5s;
        height: 2em;
    }

    .inputPerfil:focus {
        outline: none;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .4);
        transition: .5s;
    }

    .inputPerfil:active {
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .5);
    }

    .formPerfil>button {
        height: 10%;
        color: var(--main-color);
        background-color: var(--dark-color);
        box-shadow: 0 6px 0 var(--black-color);
        border: 1px solid var(--dark-color);
        border-radius: .5em;
        font-size: 2em;
        font-weight: bold;
        transition: .5s;
    }

    .formPerfil>button:hover {
        transform: translateY(5px);
        box-shadow: 0 3px 0 var(--black-color);
        background-color: var(--main-color);
        color: var(--dark-color);
        transition: .5s;
    }


    /* Pagina AÃ±adir Libro */
    .etiquetas {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        width: 30vw;
        min-width: 20vh;
    }


}

/* >------------------[Tablet]------------------< */
@media screen and (min-width: 768px) and (max-width: 1023px) {

    .body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 250%;
        max-width: 1023px;
        min-width: 768px;
    }

    /* Header */
    header,
    footer {
        background-color: var(--main-color);
        color: var(--second-color);
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 100%;
        max-width: 1023px;
        min-width: 768px;
    }

    .logo {
        width: 5em;
        height: 5em;
    }

    .filtros {
        float: left;
        border: none;
        background-color: transparent;
    }

    /* Filter menu desplegable */
    .dropdown {
        display: inline-block;
        position: relative;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        width: 250px;
        font-size: .7em;
        overflow: auto;
        box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
        right: 10px;
    }

    .dropdown:hover .dropdown-content,
    .dropdown:active .dropdown-content,
    .dropdown:focus .dropdown-content {
        display: block;
    }

    .dropdown-content a,
    .dropdown-content p,
    .dropdown-content h3 {
        display: block;
        color: var(--text-color);
        background-color: var(--dark-color);
        padding: 5px;
        text-decoration: none;
    }

    .dropdown-content a:hover {
        text-shadow: 1px 1px 2px var(--main-color);
    }

    .rightSide {
        width: 100%;
        max-width: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 65%;
    }

    .search {
        display: flex;
        flex-direction: row;
    }

    .lupa {
        width: 1em;
        height: 1em;
        margin: 0 .5em;
    }

    .lupa:hover {
        filter: drop-shadow(3px 1px 4px var(--object-color));
    }

    #searchInput {
        margin: 0 1em;
        background-color: transparent;
        border: 0;
        border-radius: 20px;
        padding: 0 .3em;
        visibility: hidden;
    }

    #searchInput:focus {
        outline: none !important;
        border: 1px solid var(--dark-color);
    }

    .profile {
        width: 4em;
        height: 4em;
        border-radius: 40%;
    }

    /* Container */
    .container {
        background-color: var(--main-color);
        color: var(--second-color);
        width: 75%;
        height: 100%;
        max-width: 1023px;
        min-width: 650px;
        max-height: 2500px;
        min-height: 1500px;
    }


    /* Footer */
    footer {
        display: flex;
        flex-direction: row;
        text-align: justify;
        padding: .5em 0 1em 0;
    }

    .texto {
        width: 10%;
        max-width: 1023px;
        min-width: 350px;
    }

    .nuestrosNombres {
        margin-right: 5em;
    }

    .mail {
        margin-left: 5em;
    }

    /* PAGINA PRINCIPAL */
    .containerIndex {
        display: grid;
        grid-template-columns: repeat(3, minmax(1px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(35vh, 40vh));
        align-items: center;
        row-gap: 0;
    }

    .libro {
        display: flex;
        flex-direction: column;
        /* width: 15vh; */
        /* height: 25vh; */
        color: white;
        justify-self: center;
        align-items: center;
    }

    .libro:hover {
        width: 25vh;
        height: 35vh;
        border-radius: 1em;
        transition: 1s;
    }

    .libro:not(:hover) {
        width: 15vh;
        height: 25vh;
        transition: .5s;
    }

    .imgLibro {
        display: inherit;
        justify-content: center;
        align-items: center;
        width: 130px;
        height: 200px;
    }

    .imgLibro:hover {
        -webkit-filter: blur(3px);
        filter: blur(3px);
        transition: 1s;
    }

    .tituloLibro {
        display: inherit;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40%;
        
    }

    #bodyLibro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .headerLibro:first-child{
        display: flex;
        justify-content: space-around;
    }

    .containerLibro{
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(10, 1fr);
        grid-gap: 1em;
        grid-template-areas: 
                            ". libro libro sinopsis sinopsis sinopsis ."
                            ". libro libro sinopsis sinopsis sinopsis ."
                            "notaLibro titulo titulo sinopsis sinopsis sinopsis ."
                            ". . . sinopsis sinopsis sinopsis ."
                            ". comentarios comentarios comentarios comentarios comentarios ."
                            ". comentarios comentarios comentarios comentarios comentarios ."
                            ". comentarios comentarios comentarios comentarios comentarios ."
                            ". comentarios comentarios comentarios comentarios comentarios ."
                            ". comentarios comentarios comentarios comentarios comentarios ."
                            ". . . . . . .";
    }

    .imgLibroPagina{
        width: 80%;
    }

    .tituloLibroPagina{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        font-size: 1em;
    }

    .sinopsisLibroPagina{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
    }

    .notaLibroPagina{
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        text-align: justify;
    }

    .notaPagina{
        font-weight: bold;
        font-size: 1em;
    }

    .comentarios{
        background-color: lightgrey;
    }
       /* PAGINA MI FICHA */
       .headerFicha {
        display: flex;
        justify-content: space-between;
    }

    #rightSideFicha {
        justify-content: flex-end;
        margin-right: 1em;
    }

    .containerMiPerfil {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 10% repeat(6, 1fr);

        grid-template-areas:
            ". tituloLibrosLeidos tituloLibrosLeidos tituloLibrosLeidos ."
            ". librosLeidos librosLeidos librosLeidos ."
            ". . tituloReseÃ±as tituloReseÃ±as ."
            ". containerReseÃ±as containerReseÃ±as containerReseÃ±as ."
            ". containerReseÃ±as containerReseÃ±as containerReseÃ±as ."
            ". containerReseÃ±as containerReseÃ±as containerReseÃ±as .";
    }
    

    .containerLibrosLeidos {
        display: flex;
        scroll-snap-type: x mandatory;
        scroll-padding: 25px;
        column-gap: 20px;
        overflow-x: scroll;
        border-radius: .5em;
        scrollbar-color: var(--object-color) var(--main-color);
        scrollbar-width: 10px;
        grid-area: librosLeidos;
    }

    #tituloLibrosLeidos {
        grid-area: tituloLibrosLeidos;
        align-self: flex-end;
    }

    #libro {
        font-size: 1em;
    }

    .libros {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 0 0 25%;
        padding: 30px;
        scroll-snap-align: start;
        background-color: var(--second-color);
        border-radius: 1em;
        color: var(--main-color);
    }

    .libros>img {
        width: 100%;
    }

    .libros>p {
        font-weight: bold;
        font-size: 1.5em;
    }


    .tituloReseÃ±as {
        align-self: end;
        grid-area: tituloReseÃ±as;
    }

    .containerReseÃ±as {
        background-color: var(--second-color);

        grid-area: containerReseÃ±as;

        max-height: 350px;

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        padding: 1em;
        gap: .7em;

        border-radius: 1em;

        scroll-snap-type: y mandatory;
        scroll-padding: 25px;
        column-gap: 20px;
        overflow-y: scroll;
        scrollbar-color: var(--object-color) var(--second-color);
        scrollbar-width: 10px;
    }

    .comentario {
        width: 80%;
        padding: .5em;
        border-radius: .5em;
        background-color: var(--object-color);
    }

    .comentario p:first-child {
        border: 1px solid var(--main-color);
        border-radius: 5px;
        padding: 3px;
        width: max-content;
    }

    .comentario p>span {
        padding-left: 5px;
        font-weight: bold;
        font-size: 1.2em;
    }

    /* Pagina Mi Perfil */

    .containerPerfil {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(4, 1fr);

        grid-template-areas:
            ". . nn nn nn nn . ."
            " . formP formP formP formP formP formP . "
            " . formP formP formP formP formP formP . "
            " . formP formP formP formP formP formP . ";

        overflow: hidden;
    }

    .formPerfil {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 1% repeat(4, 1fr);

        grid-template-areas:
            ". . nn nn nn nn . ."
            " dp dp dp dp contra contra contra contra "
            ". . . buttonP buttonP . . ."
            ". . . . . . . .";

        gap: 1em;
        overflow: hidden;
    }

    .nick {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        gap: 1em;
    }

    .nick>img {
        width: 15%;
    }

    .inputPerfil {
        color: var(--dark-color);
        background-color: var(--main-color);
        border: none;
        border-radius: 5px;
        width: 70%;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
        padding: 0 5px;
        margin: .5em;
        transition: .5s;
        height: 2em;
    }

    .inputPerfil:focus {
        outline: none;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .4);
        transition: .5s;
    }

    .inputPerfil:active {
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .5);
    }

    .formPerfil>button {
        height: 15%;
        color: var(--main-color);
        background-color: var(--dark-color);
        box-shadow: 0 6px 0 var(--black-color);
        border: 1px solid var(--dark-color);
        border-radius: .3em;
        font-size: 1.5em;
        font-weight: bold;
        transition: .5s;
    }

    .formPerfil>button:hover {
        transform: translateY(5px);
        box-shadow: 0 3px 0 var(--black-color);
        background-color: var(--main-color);
        color: var(--dark-color);
        transition: .5s;
    }

    /* Pagina AÃ±adir Libro */
    .etiquetas {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 1fr);
    }


}

/* >------------------[Mobile]------------------< */
@media screen and (max-width: 767px) {

    .body {
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 240%;
        max-width: 767px;
        min-width: 250px;
    }

    /* Header */
    header,
    footer {
        background-color: var(--main-color);
        color: var(--second-color);
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 100%;
        max-width: 767px;
        min-width: 250px;
        max-height: 100px;
        min-height: 75px;
        border-radius: 0;
    }

    header {
        justify-content: flex-start;
    }

    .logo {
        width: 3em;
        height: 3em;
    }

    .filtros {
        float: left;
        border: none;
        background-color: transparent;
    }

    /* Filter menu desplegable */
    .dropdown {
        display: inline-block;
        position: relative;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        width: 150px;
        font-size: .7em;
        overflow: auto;
        box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
        right: 10px;
    }

    .dropdown:hover .dropdown-content,
    .dropdown:active .dropdown-content,
    .dropdown:focus .dropdown-content {
        display: block;
    }

    .dropdown-content a,
    .dropdown-content p,
    .dropdown-content h3 {
        display: block;
        color: var(--text-color);
        background-color: var(--dark-color);
        padding: 5px;
        text-decoration: none;
    }

    .dropdown-content a:hover {
        text-shadow: 1px 1px 2px var(--main-color);
    }

    .rightSide {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        max-width: 50px;
        margin-left: 46%;
    }

    .search {
        display: flex;
        flex-direction: row;
    }

    .lupa {
        width: 1.5em;
        height: 1.5em;
        margin: 0 .5em;
    }

    .lupa:hover {
        filter: drop-shadow(3px 1px 4px var(--second-color));
    }

    #searchInput {
        background-color: transparent;
        border: 0;
        border-radius: 20px;
        margin: 0 1em;
        width: 10vh;
        padding: 0 .3em;
        visibility: hidden;
    }

    #searchInput:focus {
        outline: none !important;
        border: 1px solid var(--dark-color);
    }

    .profile {
        width: 3em;
        height: 3em;
        border-radius: 40%;
    }

    /* Container */
    .container {
        background-color: var(--main-color);
        color: var(--black-color);
        width: 100%;
        height: 100%;
        max-width: 767px;
        min-width: 250px;
        max-height: 2500px;
        min-height: 1500px;
    }


    /* Footer */
    footer {
        display: flex;
        text-align: justify;
        min-height: 350px;
        max-height: none;
        gap: .5em;
        align-content: center;
        flex-direction: column;
    }

    .texto {
        width: 10%;
        max-width: 767px;
        min-width: 250px;
    }

    .nuestrosNombres {
        display: flex;
        flex-direction: column;
        padding-right: 2em;
        gap: .5em;
    }

    .mail {
        float: left;
    }

    /* PAGINA PRINCIPAL */
    .containerIndex {
        display: grid;
        grid-template-columns: repeat(2, minmax(1px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(30vh, 40vh));
        align-items: center;
        row-gap: 0;
    }

    .libro {
        display: flex;
        flex-direction: column;
        width: 17vh;
        height: 25vh;
        justify-self: center;
        background-color: var(--second-color);
    }

    .libro:hover {
        width: 25vh;
        height: 35vh;
        transition: 1s;
    }

    .libro:not(:hover) {
        width: 17vh;
        height: 25vh;
        transition: .5s;
        background-color: var(--second-color);

    }

    .imgLibro {
        display: inherit;
        justify-content: center;
        align-items: center;
        align-self: center;
        width: 90%;
        height: 80%;
        background-color: green;
    }

    .imgLibro:hover {
        -webkit-filter: blur(5px);
        filter: blur(5px);
        transition: 1s;
    }

    .tituloLibro {
        display: inherit;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 20%;
        background-color: grey;
    }

    /* Pagina Libro */
    #bodyLibro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .headerLibro{
        display: flex;
        justify-content: space-around;
    }
    

    .containerLibro{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: minmax(100px, max-content)
                       repeat(auto-fill, 25%) 60%;
        gap: 2em;
        grid-template-areas: 
                            ". titulo titulo notaLibro ."
                            ". libro libro libro  . "
                            ". sinopsis sinopsis sinopsis ."
                            ". sinopsis sinopsis sinopsis ."
                            ". comentarios comentarios comentarios .";
    }

    .imgLibroPagina{
        width: 35vh;
        align-self: center;
    }

    .sinopsisLibroPagina{
        text-align: justify;
    }

    /* Pagina Libro */
    #bodyLibro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .headerLibro {
        display: flex;
        justify-content: space-around;
    }


    .containerLibro {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: minmax(100px, max-content) repeat(auto-fill, 25%) 60%;
        gap: 2em;
        grid-template-areas:
            ". titulo titulo notaLibro ."
            ". libro libro libro  . "
            ". sinopsis sinopsis sinopsis ."
            ". sinopsis sinopsis sinopsis ."
            ". comentarios comentarios comentarios .";
    }

    .imgLibroPagina {
        width: 35vh;
        align-self: center;
    }

    .sinopsisLibroPagina {
        text-align: justify;
    }


    /* PAGINA MI FICHA */
    .headerFicha {
        display: flex;
        justify-content: space-between;
    }

    #rightSideFicha {
        display: flex;
        justify-content: flex-end;
        margin-right: 1em;
    }

    .containerMiPerfil {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 5% repeat(5, 1fr);

        grid-template-areas:
            ". tituloLibrosLeidos tituloLibrosLeidos tituloLibrosLeidos tituloLibrosLeidos"
            "librosLeidos librosLeidos librosLeidos librosLeidos librosLeidos"
            ". tituloReseÃ±as tituloReseÃ±as tituloReseÃ±as ."
            "containerReseÃ±as containerReseÃ±as containerReseÃ±as containerReseÃ±as containerReseÃ±as"
            "containerReseÃ±as containerReseÃ±as containerReseÃ±as containerReseÃ±as containerReseÃ±as";
    }

    .containerLibrosLeidos {
        display: flex;
        scroll-snap-type: x mandatory;
        scroll-padding: 25px;
        column-gap: 20px;
        margin: 0 1em;
        overflow-x: scroll;
        border-radius: .5em;
        scrollbar-color: var(--object-color) var(--main-color);
        scrollbar-width: 10px;
        grid-area: librosLeidos;
    }

    #tituloLibrosLeidos {
        grid-area: tituloLibrosLeidos;
        align-self: flex-end;
    }

    #libro {
        font-size: 1em;
    }

    .libros {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 0 0 25%;
        padding: 30px;
        scroll-snap-align: start;
        background-color: var(--second-color);
        border-radius: 1em;
        color: var(--main-color);
    }

    .libros>img {
        width: 100%;
    }

    .libros>p {
        font-weight: bold;
        font-size: 1.5em;
    }


    .tituloReseÃ±as {
        align-self: end;
        grid-area: tituloReseÃ±as;
    }

    .containerReseÃ±as {
        background-color: var(--second-color);

        grid-area: containerReseÃ±as;

        max-height: 350px;

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        padding: 1em;
        gap: .7em;
        margin: 0 1em;

        border-radius: 1em;

        scroll-snap-type: y mandatory;
        scroll-padding: 25px;
        column-gap: 20px;
        overflow-y: scroll;
        scrollbar-color: var(--object-color) var(--second-color);
        scrollbar-width: 10px;
    }

    .comentario {
        width: 80%;
        padding: .5em;
        border-radius: .5em;
        background-color: var(--object-color);
    }

    .comentario p:first-child {
        border: 1px solid var(--main-color);
        border-radius: 5px;
        padding: 3px;
        width: max-content;
    }

    .comentario p>span {
        padding-left: 5px;
        font-weight: bold;
        font-size: 1.2em;
    }

    /* Pagina Mi Perfil */

    .containerPerfil {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows:  10% repeat(2,1fr);

        grid-template-areas:
            ". . nn nn nn nn . ."
            " . formP formP formP formP formP formP . ";

        overflow: hidden;
    }

    .containerPerfil>div:first-child{
        margin-top: 10%;
    }

    .formPerfil {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 1% repeat(4, 1fr);

        grid-template-areas:
            ". . nn nn nn nn . ."
            " dp dp dp dp contra contra contra contra "
            ". . . buttonP buttonP . . ."
            ". . . . . . . .";

        gap: 1em;
        overflow: hidden;
    }

    .nick {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        gap: 1em;
        height: 10%;
    }

    .nick>img {
        width: 15%;
    }

    .dpTitulo,
    .contraTitulo {
        font-size: 1.2em;
    }

    .datosPersonales,
    .contrasenya {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .inputPerfil {
        color: var(--dark-color);
        background-color: var(--main-color);
        border: none;
        border-radius: 5px;
        width: 70%;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
        padding: 0 5px;
        margin: .5em;
        transition: .5s;
        height: 2em;
    }

    .inputPerfil:focus {
        outline: none;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .4);
        transition: .5s;
    }

    .inputPerfil:active {
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .5);
    }

    .formPerfil>button {
        height: 20%;
        color: var(--main-color);
        background-color: var(--dark-color);
        box-shadow: 0 6px 0 var(--black-color);
        border: 1px solid var(--dark-color);
        border-radius: .3em;
        font-size: 1em;
        font-weight: bold;
        transition: .5s;
    }

    .formPerfil>button:hover {
        transform: translateY(5px);
        box-shadow: 0 3px 0 var(--black-color);
        background-color: var(--main-color);
        color: var(--dark-color);
        transition: .5s;
    }

    /* Pagina AÃ±adir Libro */
    .etiquetas {
        grid-template-columns: repeat(1, 20vw);
        grid-template-rows: repeat(auto, 1fr);
    }


}